.container {
  width: 100%;
  max-width: 1366px;

  margin: 0 auto;
  padding: 0 7.5%;
}

@media (max-width: $tablet-width-max) {
  .container {
    padding: 0 5.9%;
  }
}

@media (max-width: $mobile-width-max) {
  .container {
    padding: 0 4.7%;
  }
}
