.contacts {
  padding-top: 120px;
  padding-bottom: 113px;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts__text {
  width: 43%;
  margin-top: 14px;
}

.contacts__text p {
  @include reset;
  @include text(18px, 1.5, 500);

  margin-bottom: 32px;
  color: $first-color;
}

.contacts__info p,
.contacts__info a {
  @include text(16px, 1.5, 400);

  margin-bottom: 21px;
  padding-left: 10px;

  color: $first-color;
}

.contacts__info-wrapper {
  display: flex;
}

.contacts__info-wrapper svg {
  flex-shrink: 0;
}

.contacts__info a {
  @include animation;

  &:hover,
  &:focus {
    color: $first-color-hover;
  }

  &:active {
    color: $first-color-active;
  }
}

.contacts__info br {
  display: none;
}

.contacts__wrapper-img {
  width: 49%;
}

@media (max-width: $tablet-width-max) {
  .contacts {
    padding-top: 100px;
    padding-bottom: 93px;
  }

  .contacts__text {
    width: 48%;
  }

  .contacts__text p {
    margin-bottom: 26px;
  }

  .contacts__info-wrapper--point svg {
    margin-top: 5px;
  }

  .contacts__info br {
    display: block;
  }

  .contacts__wrapper-img {
    width: 48%;
  }
}

@media (max-width: $mobile-width-max) {
  .contacts {
    padding-top: 43px;
    padding-bottom: 59px;
  }

  .contacts__wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .contacts__text {
    width: 98%;
    order: 1;
    margin-bottom: 17px;
  }

  .contacts__info p {
    margin-bottom: 21px;
  }

  .contacts__info p::before {
    top: 7px;
    left: 0;
  }

  .contacts__info a::before {
    top: 1px;
    left: 0;
  }

  .contacts__wrapper-img {
    width: 100%;
    order: 2;
  }

  .contacts__wrapper-img img {
    width: 100%;
    height: auto;
  }
}
