.header-nav button {
  display: none;
}

@media (max-width: $mobile-width-max) {
  .header-nav button {
    display: block;

    position: relative;
    top: 0;
    right: 0;
    padding: 0;

    width: 24px;
    height: 12px;

    background-color: transparent;

    cursor: pointer;
    border: none;
  }

  .header-nav--closed button::before {
    content: "";

    position: absolute;
    top: 4px;
    right: 0;

    width: 24px;
    height: 2px;

    background-color: $second-color;
    box-shadow: 0 6px 0 0 $second-color, 0 12px 0 0 $second-color;
  }

  .header-nav--closed button:active::before {
    background-color: $second-color-active;
    box-shadow: 0 6px 0 0 $second-color-active, 0 12px 0 0 $second-color-active;
  }

  .header-nav--opened button {
    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 10px;
      right: -2px;

      width: 18px;
      height: 2px;

      background-color: $first-color;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active::before,
    &:active::after {
      background-color: $first-color-active;
    }
  }

  .header-nav--opened,
  .header-nav--nojs {
    margin-right: -5.1%;
    margin-left: -7.5%;
    padding-top: 20px;
    padding-right: 5%;
    padding-left: 7.5%;
    overflow: hidden;

    background-color: $background-color;
  }

  .header-nav--opened {
    justify-content: flex-start;
    height: 100vh;
  }

  .header-nav--opened path,
  .header-nav--nojs path {
    fill: $first-color;
  }

  .header-nav--opened + .header__main::after,
  .header-nav--nojs + .header__main::after {
    position: absolute;
    content: "";
    top: 0;
    left: -7.4%;

    width: 112.5%;
    height: 100%;
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 20%, #011c40 100%);
  }

  .header-nav--closed .main-nav {
    display: none;
  }

  .header-nav--nojs button {
    visibility: hidden;
  }

  .header-nav--nojs .main-nav {
    display: block;
  }
}
