.main-nav__list {
  @include list-reset;
  @include text(16px, 1.25, 500);

  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  min-width: 594px;
  max-width: 1090px;

  color: $second-color;
}

.main-nav__item {
  margin-left: 34px;
  padding-top: 8px;
  padding-bottom: 9px;
}

.main-nav__item a {
  @include animation;

  color: $second-color;

  &:hover,
  &:focus {
    @include animation;

    color: $second-color-hover;
  }

  &:active {
    @include animation;

    color: $second-color-active;
  }
}

@media (max-width: $tablet-width-max) {
  .main-nav__list {
    @include text(14px, 1.2, 500);

    min-width: 503px;
    max-width: 640px;
  }

  .main-nav__item {
    margin-left: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media (max-width: $mobile-width-max) {
  .main-nav {
    position: relative;

    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
  }

  .main-nav__list {
    @include text(18px, 1.22, 500);

    position: relative;

    flex-direction: column;
    min-width: 320px;
    margin-top: 35px;
    margin-bottom: 46px;
  }

  .main-nav__item,
  .main-nav__item a {
    padding: 10px 0;
    color: $first-color;
  }

  .main-nav__item {
    margin-left: 0;
    width: 91%;
  }

  .main-nav__item a {
    &:hover,
    &:focus {
      color: $first-color-hover;
    }

    &:active {
      color: $first-color-active;
    }
  }
}
