.travel__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 120px;
  padding-bottom: 115px;
}

.travel__text {
  width: 45%;
}

.travel__text h2,
.travel__text p {
  @include reset;
}

.travel__text h2 {
  @include title-desktop;

  margin-top: -6px;
  margin-bottom: 24px;
}

.travel__text p {
  @include text(16px, 1.5, 400);

  color: $first-color;
}

.travel__text br {
  display: none;
}

.travel__wrapper-img {
  width: 48%;
}

@media (max-width: $tablet-width-max) {
  .travel__wrapper {
    padding: 96px 0;
    padding-bottom: 94px;
  }

  .travel__text {
    width: 48%;
  }

  .travel__text h2 {
    @include title-tablet;

    width: 65%;
    margin-bottom: 15px;
  }

  .travel__text br {
    display: block;
  }
}

@media (max-width: $mobile-width-max) {
  .travel__wrapper {
    flex-direction: column;
    align-items: flex-start;
    padding: 63px 0 58px 0;
  }

  .travel__text {
    width: 100%;
  }

  .travel__text h2 {
    @include title-mobile;

    width: 72%;
  }

  .travel__text p {
    margin-bottom: 34px;
  }

  .travel__text br {
    display: none;
  }

  .travel__wrapper-img {
    width: 100%;
  }

  .travel__img {
    width: 100%;
    height: auto;
  }
}
